* {
 font-family: 'Itim', cursive; 'Arial';
}

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.containers {
 width: 100%;
 height: 100vh;
 display: flex;
 overflow: hidden;
}

.left-container {
 background-color: black;
 height: 100%;
 width: 30%;
 color: white;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.right-container {
 position: relative;
 background-color: white;
 height: 100%;
 width: 70vw;
}
