:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
 font-family: 'Rancho', sans-serif;
}

.contenedor {
 width: 90%;
 max-width: 1200px;
 overflow: hidden;
 margin: auto;
 padding: 60px 0;
}
