:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --modal-duration: 1s;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
 font-family: 'Rancho', sans-serif;
}

.normal {
  font-family: Times New Roman, sans-serif;
  text-decoration: none;
}

.normal-btn {
  font-family: Times New Roman, sans-serif;
  text-decoration: none;
  padding: 7px 15px !important;
  align-items: center;
  display: flex;
}

.space-between {
 padding: 10px;
}

.container {
 width: 90%;
 max-width: 1200px;
 overflow: hidden;
 margin: auto;
 padding: 60px 0;
}

/* Supported Browser Banner */
.banner-support {
 position: fixed;
 width: 100%;
 height: 200px;
 /*padding 0 100px;*/
 display: flex;
 justify-content: center;
 align-items: center;
 background: #3E3E3E;
 z-index: 1;
 bottom: 0px; 
}

.banner-logo {
 position: fixed;
 bottom: 50px;
 left: 30px; 
}

.browser-support-icon {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 /* width: 100; */
 text-align: center;
}  

.browser-support-icon h1 {
 color: #FFFFFF;
}

.support-btn {
 display: inline-block;
 width: 80px;
 height: 80px;
 background: #F1F1F1;
 margin: 10px;
 border-radius: 30%;
 box-shadow: 0 5px 15px -5px #00000070;
 color: #3498DB;
 overflow: hidden;
 position: relative;
}

.support-btn i {
 line-height: 80px;
 font-size: 50px;
 transition: 0.2s linear;
}

.support-btn:hover i{
 transform: scale(1.3);
 color: #F1F1F1;
}

.support-btn::before {
 content: "";
 position: absolute;
 width: 120%;
 height: 120%;
 background: #3498DB;
 transform: rotate(45deg);
 left: -110%;
 top: 90%;
}

.support-btn:hover::before {
 animation: aaa 0.7s 1;
 top: -10%;
 left: -10%;
}

@keyframes aaa {
 0%{
  left: -110%;
  top: 90%;
 }50%{
  left: 10%;
  top: -30%;
 }100%{
  top: -10%;
  left: -10%;
 }
}

/* Header */
header {
 height: 100vh;
 background-image: linear-gradient(to top, rgba(161, 140, 209, 0.39) 0%, rgba(251, 194, 235, 0.4) 100%), url("../img/bg.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 /* background-attachment: fixed; */
 background-position: center;
}

/* Hamburger Menu */
.hamburger-holder {
 background: #000000;
 height: 80px;
 position: fixed;
 width: 100%;
 z-index: 1; 
}

.hamburger {
 position: fixed;
 top: 20px;
 right: 30px;
 background: #FFFFFF;
 width: 40px;
 height: 40px;
 cursor: pointer;
 border-radius: 10px;
 box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
 z-index: 1; 
}

.hamburger-text {
 position: fixed;
 top: 20px;
 right: 80px;
 color: #FFFFFF;
 cursor: pointer;
 z-index: 1; 
}

#assoptions {
 right: 150px;
 border: 3px solid;
 border-radius: 10px;
 padding: 3px 3px;
 top: 23px; 
}

.switch {
 position: relative;
 display: inline-block;
 width: 110px;
 height: 60px;
 margin: 0 10px; 
}

.opt-slider {
 position: absolute;
 cursour: pointer;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background-color: #CCCCCC;
 transition: 0.4s;
 border-radius: 34px; 
}

.switch input {display: none}

.opt-slider:before {
 position: absolute;
 content: "";
 height: 50px;
 width: 50px;
 left: 5px;
 bottom: 5px;
 background-color: #FFFFFF;
 transition: 0.4s; 
 border-radius: 50px; 
}

input:checked + .opt-slider {
 background-color: #26ff5c;
}

input:checked + .opt-slider:before {
 transform: translateX(50px);
}

.options-list {
 position: absolute;
 top: -100%;
 left: 0;
 width: 100%;
 height: calc(100vh - 80px);
 padding: 50px 100px;
 text-align: center;
 overflow: auto;
 transition: 0.5s;
 background: #111111;
 flex-direction: column;
 opacity: 0;
 transform: translateY(-100%);
}

.active {
  transform: translateY(0);
  top: 0px;
  opacity: 1;
}

/* Accordion Menu */
.accordion-container{
 position: absolute;
 text-decoration: none; 
 top: 0;
 right: 0;
 left: 0; 
}

.accordion-menu {
 background: #748C8D;
 /* width: 300px; */
 border-radius: 8px;
 overflow: hidden; 
}

.accordion-item {
 border-top: 1px solid #2C3E50;
 overflow: hidden; 
}

.accordion-btn {
 display: flex;
 align-items: center; 
 padding: 46px 20px;
 background: #34495E;
 color: #FFFFFF;
 position: relative; 
 height: 16vh; 
}

.accordion-btn::before {
 content: '';
 position: absolute; 
 background: #34495E;
 width: 34px;
 height: 34px;
 left: 20px;
 bottom: -7px;
 transform: rotate(45deg); 
}

.accordion-btn i {
 margin-right: 14px;
}

.sub-menu {
 background: #353B48;
 overflow: hidden;
 transition: 0.3s;
 max-height: 0; 
}

.sub-menu a {
 display: block;
 color: #FFFFFF;
 padding: 16px 26px;
 font-size: 14px;
 margin: 4px 0;
 position: relative;
}

.sub-menu a::before {
 content: '';
  position: absolute;
  background: #BDC3C7;
  height: 100%;
  width: 6px;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.sub-menu a:hover::before {
 opacity: 1;
}

.accordion-item:target .sub-menu {
 max-height: 100%;
}

/* Navigation Menu */
.menu-hamburger {
position: fixed;
top: 30px;
right: 30px;
width: 40px;
height: 40px;
cursor: pointer;
border-radius: 10px;
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
z-index: 1;
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);  
}

.menu-navigation {
 position: fixed;
 top: 0;
 right: 0;
 width: 30vw; /* 400px */
 height: 100%;
 /*background-image: linear-gradient(185deg, #667EEA 0%, #008880 100%); 
 background-image: linear-gradient(135deg, #667EEA 0%, #764BA2 100%);*/
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 transition: transform .3s ease-in-out;
 transform: translate(110%);
 box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
 z-index: 1;
 /*border-radius: 3px;*/ 
 overflow: scroll; 
}

.menu-navigation ul li {
 list-style: none;
 padding: 1.6rem;
}

.menu-navigation a {
 color: #FFFFFF;
 text-decoration: none;
 /*padding: 1rem 2rem;  Remove for accordion menu */
 font-size: 1.5rem;
}

.menu-navigation ul li a:hover, .menu-navigation ul li a:active {
 border: 5px solid;
 border-radius: 5px; 
 /* border-radius: 40em;
 background: #000000; */
}

.menu-close {
 position: absolute;
 top: 15px;
 left: 15px;
 width: 50px;
 cursor: pointer;
 filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}

.menu-close-text {
 position: absolute;
 top: 60px;
 left: 12px;
 cursor: pointer;
 color: #FFFFFF;
} 

.spread {
  transform: translate(0);
}

/* Salutation */
.head {
 text-align: center;
 padding: 0;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 color: #FFFFFF;
}

.title {
 font-size: 60px;
 margin-bottom: 15px;
}

.copy {
 font-weight: 300;
 font-size: 25px;
}

/* About Me */
.subtitle {
 text-align: center !important;
 font-weight: 600;
 color: #6822b5; /* #9F8AD0 */
 margin-bottom: 40px;
 font-size: 50px;
}

.container-service {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
}

.container-service img {
 width: 40%;
}
 
.checklist-service {
 width: 45%;
}
  
.service {
 margin-bottom: 20px;  
}

.n-service{
 margin-bottom: 7px;
 color: #6822B5;
}
  
/* Illustration Gallery */
.gallery {
 background: #F2F2F2;
}
  
.container-gallery {
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}
  
.img-gallery {
 object-fit: cover;
 width: 30%;
 display: block;
 margin-bottom: 15px;
 box-shadow: 0 0 6px rgba(0,0,0, 0.5);
 cursor: pointer;
}
  
.images-light {
 position: fixed;
 background: rgba(0,0,0,0.6);
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 transform: translate(100%);
 transition: transform .2s ease-in-out;
}

.show {
 transform: translate(0);
}

.open-images {
 object-fit: cover;
 width: 30%;
 border-radius: 10px;
 transform: scale(0);
 transition: transform .3s .2s;
}

.showImage {
 transform: scale(1);
}
  
.close {
 position: absolute;
 top: 15px;
 left: 15px;
 width: 50px;
 cursor: pointer;
 filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
} 
  
/* Projects */
.experts {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
}

.cont-expert {
 width: 30%;
 text-align: center;
 margin-bottom: 20px;
 cursor: pointer;
}

.cont-expert-two {
 width: 100%;
 text-align: center;
 margin-bottom: 20px;
 cursor: pointer;
}

.cont-expert img {
 width: 80%;
 display: block;
 margin: 0 auto;
}

.cont-expert-two-img {
 width: 50%;
 display: block;
 margin: 0 auto;
}

.n-expert {
 display: inline-block;
 margin-top: 10px;
 width: 100%;
 font-weight: 400;
}

/* Hide Project Contents */
#tab-1-content,
#tab-2-content,
#tab-3-content {
 /* display: none; */
}

.showTab {
 display: block !important;
}

.card {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: auto;
  margin: 20px;
  padding: 20px 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: height 1000ms;
  width: 560px;
  left: calc(50% - 20px);
  transform: translateX(-50%);
}

.favorite-styled {
    border: 20px;
    cursor: pointer;
    line-height: 1.8;
    padding: 0 20px;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: #764BA2;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.favorite-styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.favorite-styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.project-button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

/* Footer */
footer {
 background: #008880 /*#9F8AD0*/;
 padding-bottom: 0.1px;
}
  
.footer-content {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 padding-top: 60px;
 padding-bottom: 40px;
}

.contact-us {
 width: 40%;
 color: #FFFFFF;
}

.brand {
 font-weight: 500;
 font-size: 40px;
}

.brand+p {
 font-weight: 500;
 font-size: 25px; 
}

.social-media {
 width: 50%;
 display: flex;
 justify-content: flex-end; 
}

.social-media-list {
 list-style: none;
 display: flex;
}

.social-media-list-alt {
 list-style: none;
 display: table-column; 
}

.social-media-icon {
 display: inline-block;
 margin-left: 20px;
 width: 60px;
 height: 60px;
 border: 5px solid #FFFFFF;
 border-radius: 5px; 
 /* border: 1px solid #FFFFFF;
 border-radius: 50%; */
 text-align: center;
 color: #FFFFFF;
 text-decoration: none;
 font-size: 20px; 
}

.social-media-icon:hover {
 background: #FFFFFF;
 color: #6822B5;
}

.social-media-icon i {
 font-size: 30px;
 line-height: 60px;
}

.line {
 width: 100%;
 max-width: 1800px;
 margin: 0 auto;
 height: 2px;
 background: #FFFFFF;
 margin-bottom: 60px;
}

@media screen and (max-width: 823px) {
 .menu-navigation {
  width: 50vw;
 }
  
 .menu-navigation ul li {
    padding: 0.4rem;
 }  
  
 .banner-logo {
    bottom: 50px;
    left: 10px;
}
  
 header {
  position: relative;
  width: 100%;
  background-image: linear-gradient(to top, rgba(161, 140, 209, 0.39) 0%, rgba(0, 136, 128, 0.4) 100%), url("../img/bg-mobile.jpg");
 }
  
.card {
  width: 360px;
}
  
 .title {
  font-size: 40px;
 }
 
 .container-service img {
  width: 80%;
  margin-bottom: 40px;
 }

 .checklist-service {
  width: 80%;
 }

 .service {
  margin-bottom: 30px;
 }

 .open-images {
  width: 80%;
 }

 .img-gallery {
  width: 45%;
 }

 .cont-expert {
  width: 100%;
 }

 .footer-content {
  justify-content: center;
 }

 .social-media {
  width: 80%;
  justify-content: space-evenly;
 }

 .social-media-icon { 
  margin-left: 40px;
  margin-right: 40px;
 }

 .social-media i {
   margin-left: 0px;
 }

 .contact-us {
  text-align: center;
  width: 80%;
  margin-bottom: 40px;
 }
}

@media screen and (max-width: 500px) {
 .menu-navigation {
  width: 65vw;
 }
  
.menu-navigation a {
    font-size: 1rem;
}
  
.hamburger-holder {
 height: 60px;
}
  
 .hamburger {
  top: 10px;
  right: 20px;
 }
  
 .hamburger-text {
  top: 10px;
  right: 70px; 
}
  
  #assoptions {
   top: 10px;
}  
  
  header {
  /*background-image: url("../img/bg-mobile.png");
  width: 100%;*/
  height: 65vh;  
 }
  
.card {
  width: 260px;
}
  
 .title {
  font-size: 30px;
 }

 .subtitle {
  font-size: 40px;
  text-align: center; 
 }

 .open-images {
  width: 95%;
 }

 .img-gallery {
  width: 80%;
 }
  
.cont-expert-two-img {
 width: 50%;
 display: block;
 margin: 0 auto;
}
  
 .social-media {
  width: 100%;
 }

 .contact-us {
  width: 90%;
  }  
   
/*.banner-support {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111;
    z-index: 1;
    margin: 0 auto;
}*/
 
.banner-support {
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #004159;
    z-index: 1;
    border-radius: 20px 20px 0px 0px;
    padding: 80px;
    /*margin-left: 13.5%;
    border: solid 8px;
    min-width: 320px;
    background: #555555;
    margin: 0 50px; */
  }
  
.browser-support-icon h1 {
 font-size: 25px;
 padding: 10px;
}

.banner-logo {
    display: none;
}

.support-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #F1F1F1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498DB;
    overflow: hidden;
    position: relative;
}

.support-btn i {
    line-height: 60px;
    font-size: 40px;
    transition: 0.2s linear;
}
   
 .social-media-icon { 
  margin-left: 20px;
  margin-right: 20px;
 }

 .social-media i {
   margin-left: 1px;
   margin-right: 1px;
 }
}

@media screen and (max-width: 454px) {
  .noraml-btn { 
   padding: 7px 45px !important; 
  }
}  

@media screen and (max-width: 320px) {
  header { 
   background-image: linear-gradient(to top, rgba(161, 140, 209, 0.39) 0%, rgba(0, 136, 128, 0.6) 100%), url("../img/bg-mobile-small.jpg");  
  }
}  
