:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
 font-family: 'Rancho', sans-serif;
}

.space-between {
 padding: 10px;
}

.container {
 width: 90%;
 max-width: 1200px;
 overflow: hidden;
 margin: auto;
 padding: 60px 0;
}

/* Header */
header {
 height: 100vh;
 background-image: linear-gradient(to top, rgba(161, 140, 209, 0.39) 0%, rgba(251, 194, 235, 0.4) 100%), url("../img/bg.png");
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 background-position: center;
}

/* Navigation Bar */

/* Salutation */
.head {
 text-align: center;
 padding: 0;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 color: #FFFFFF;
}

.title {
 font-size: 60px;
 margin-bottom: 15px;
}

.copy {
 font-weight: 300;
 font-size: 25px;
}

/* About Me */
.subtitle {
 text-align: center;
 font-weight: 300;
 color: #9F8AD0;
 margin-bottom: 40px;
 font-size: 40px;
}

.container-service {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
}

.container-service img {
 width: 40%;
}
 
.checklist-service {
 width: 45%;
}
  
.service {
 margin-bottom: 20px;  
}

.n-service {
 margin-bottom: 7px;
 color: #9F8AD0;
}
  
/* Illustration Gallery */
.gallery {
 background: #F2F2F2;
}
  
.container-gallery {
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}
  
.img-gallery {
 object-fit: cover;
 width: 30%;
 display: block;
 margin-bottom: 15px;
 box-shadow: 0 0 6px rgba(0,0,0, 0.5);
 cursor: pointer;
}
  
.images-light {

}
  
.open-images {
 
}
  
.close {
 position: absolute;
 top: 15px; 
 right: 15px;
 width: 40px;
 cursor: pointer;
} 
  
/* Projects */
.experts {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
}

.cont-expert {
 width: 30%;
 text-align: center;
 margin-bottom: 20px;
 cursor: pointer;
}

.cont-expert-two {
 width: 100%;
 text-align: center;
 margin-bottom: 20px;
 cursor: pointer;
}

.cont-expert img {
 width: 80%;
 display: block;
 margin: 0 auto;
}

.cont-expert-two img {
 width: 50%;
 display: block;
 margin: 0 auto;
}

.n-expert {
 display: inline-block;
 margin-top: 10px;
 width: 100%;
 font-weight: 400;
}

/* Hide Project Contents */
#tab-1-content,
#tab-2-content,
#tab-3-content {
 display: none;
}

.showTab {
 display: block !important;
}

.card {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 200px;
  margin: 20px;
  padding: 0 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: height 1000ms;
  width: 560px;
  left: calc(50% - 20px);
  transform: translateX(-50%);
}

.favorite-styled {
    border: 20;
    cursor: pointer;
    line-height: 1.8;
    padding: 0 20px;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: #764BA2;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.favorite-styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.favorite-styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
  
/* Footer */
footer {
 background: #9F8AD0;
 padding-bottom: 0.1px;
}
  
.footer-content {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 padding-top: 60px;
 padding-bottom: 40px;
}

.contact-us {
 width: 40%;
 color: #FFFFFF;
}

.brand {
 font-weight: 500;
 font-size: 40px;
}

.brand+p {
 font-weight: 500;
}

.social-media {
 width: 50%;
 display: flex;
 justify-content: flex-end; 
}

.social-media-icon {
 display: inline-block;
 margin-left: 20px;
 width: 60px;
 height: 60px;
 border: 1px solid #FFFFFF;
 border-radius: 50%;
 text-align: center;
 color: #FFFFFF;
}

.social-media-icon:hover {
 background: #FFFFFF;
 color: #764BA2;
}

.social-media-icon i {
 font-size: 30px;
 line-height: 60px;
}

.line {
 width: 100%;
 max-width: 1800px;
 margin: 0 auto;
 height: 2px;
 background: #FFFFFF;
 margin-bottom: 60px;
}
