:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
 font-family: 'Rancho', sans-serif;
}

.container {
 width: 90%;
 max-width: 1200px;
 overflow: hidden;
 margin: auto;
 padding: 60px 0;
}

.head {
 text-align: center;
 padding: 0;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 color: #FFFFFF;
}
